# Database
DATABASE_URL="postgresql://username:password@hostname:port/database?sslmode=require"

# Example for Neon Database:
# DATABASE_URL="postgresql://username:password@ep-hostname.region.aws.neon.tech/database?sslmode=require"